* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu";
}

header {
  background-color: rgb(43, 42, 42);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

header h3 {
  color: gray;
  text-decoration: underline;
}

.header-img {
  width: 70px;
}

section p {
  display: flex;
  justify-content: center;
}

.logo-imagems {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.filhos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 500px;
}

.filhos div {
  background-color: rgb(241, 241, 241);
  box-shadow: 3px 3px 0 rgb(201, 200, 200);
  margin: 5px 0;
  border-radius: 5px;
}

h4 {
  margin: 10px 0 0 0;
}

h4,
img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-img {
  width: 150px;
}

.agaerezada {
  display: flex;
  justify-content: center;
}

hr {
  width: 150px;
  margin: 10px 0;
}

footer {
  display: flex;
  justify-content: center;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}
