* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

header {
    text-align: center;
    background-color: rgb(20, 88, 31);
    border: 1px solid;
    border-radius: 5px;
    width: 50%;
    margin: 10px auto;
    font-size: 25px;
    padding: 50px;
}

main {
    height: 500px;
}

form {
    background-color: rgb(20, 88, 31);
    margin: 10px auto;
    height: 410px;
    width: 50%;
    border: 1px solid;
    border-radius: 5px;
}

form div {
    margin: 10px;
    padding: 1px;
}

form .dadoscompletos input {
    margin: 5px;
}

form div textarea {
    margin: 8px 0px;
}
form .termos-aceitar input {
    margin: 5px 5px;
}

section {
    margin: 20px 0;
}